<div class="row" id="enter_address">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10 top">
        <h1>Enter Recipient Address</h1>
        <p>Please enter the recipient's address. Depending on the destination country we might add an extra sheet to your letter in order to ensure that the address is visible throught he tiny window on the envelope.</p>
    </div>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
    <form class="address_form">
      <div class="form-group">
        <input type="text" ng-model="letter.recipient.name" class="form-control" id="name" placeholder="Enter First & Last Name" required>
      </div>
      <div class="form-group">
        <input type="text" ng-model="letter.recipient.company" class="form-control" id="company" placeholder="Company (Optional)">
      </div>
      <div class="form-group">
        <input type="text" ng-blur='validateAddress()' ng-model="letter.recipient.address1" class="form-control" id="street" placeholder="Street & Number" required>
      </div>
      <div class="form-group">
        <input type="text" ng-model="letter.recipient.address2" class="form-control" id="line2" placeholder="Address Line 2 (Optional)">
      </div>
      <div class="form-group">
        <div class="controls form-inline">
          <input type="text" ng-blur='validateAddress()' ng-model="letter.recipient.city" class="form-control" id="city" placeholder="City" required>
          <input type="text" ng-model="letter.recipient.zip" class="form-control" id="postalcode" placeholder="Postal Code" required>
          <input type="text" ng-model="letter.recipient.state" class="form-control" id="state" placeholder="State (Optional)">
        </div>
        <div class="spinner hidden-xs" style="position: relative;margin: -31px 0px 0 290px;display:none;">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <div class="spinner hidden-xs" style="position: relative;margin: -31px 0px 0 461px;display:none;">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <div class="spinner visible-xs" style="position: relative;margin: -31px 0px 0 316px;display:none;">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <div class="spinner visible-xs" style="position: relative;margin:-65px 0px 44px 316px;display:none;">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
      </div>
      <div class="form-group">
        <select class="form-control" style="-webkit-appearance: none;" ng-model="letter.recipient.countryIso" ng-options="country.countryIso as country.countryName for country in countries" required></select>
      </div>
      <button ui-sref="index" class="btn btn-grey">Cancel</button>
      <button type="submit" ng-click="submit()" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
<div class="row" style="background: #fff;text-align: center;margin-top: 40px;padding-top: 10px;padding-bottom: 25px;">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
        <h2 style="line-height: 38px;margin-bottom: 25px;">Mils on OS X / Windows 8 allows you to pick the Address from Your Address Book Contacts</h2>
        <a href="https://milsapp.com" target="_blank" class="btn btn-default">Download Mils for OS X / Windows 8</a>
    </div>
</div>