<div class="row" style="z-index:9999; position: relative;">
    <div class="content" style="height: 160px;background: #fff;padding: 5px;margin-top: -21px;" class="col-xs-12 col-sm-12 col-md-12">
        <div id="uploading-pdf">
            <div style="text-align: center;">
                <h1>Uploading the Pdf</h1>
            </div>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div id="payment-failed" style="display: none;">
            <div style="text-align: center;">
                <h1>Upload Failed</h1>
                <button type="submit" ng-click="retry()" class="btn btn-default">Retry</button>
            </div>
        </div>
        <div id="uploading-completed" style="display: none;">
            <div style="text-align: center;">
                <h1>Upload Completed</h1>
                <div style="margin: 30px auto 10px;">
                    <button ui-sref="index" class="btn btn-grey">Cancel</button>
                    <button ui-sref="pay({ letter_id: letter.id})" type="submit" class="btn btn-default">Continue with Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>
<leaflet markers="data.markers" style="position: absolute;top: 0px;" defaults="defaults" center="center" height="100%" width="100%"></leaflet>
