<div class="row payment-header">
    <div class="col-md-offset-3 col-md-6 top">
        <h1>Enter Payment Information</h1>
        <p>You will receive an invoice after the payment to the address you provide here.</p>
    </div>
</div>
<div class="row payment">
    <form class="payment-form" id="braintree-payment-form">
        <div class="col-md-offset-1 col-md-4 col-xs-offset-1 col-xs-10">
            <h2>Price Information</h2>
            <label>Price:</label> <span ng-bind="letter.price"></span>€ including print, packaging, and postage.
            <h2>Payment Information</h2>
            <div class="form-group">
                <input type="text" ng-model="letter.creditcard.number" class="form-control" id="number" placeholder="Card Number" autocomplete="off" data-encrypted-name="number" ng-disabled="disabled" required/>
            </div>
            <div class="form-group">
                <div class="controls form-inline">
                    <input type="text" ng-model="letter.creditcard.cvv" class="form-control" id="cvv" placeholder="CVV" autocomplete="off" data-encrypted-name="cvv" ng-disabled="disabled" required/>
                    <input type="text" ng-model="letter.creditcard.date" class="form-control" id="month" placeholder="Expiration (MM/YYYY)" data-encrypted-name="date" ng-disabled="disabled"  required/>
                </div>
            </div>
            <div class="hidden-xs hidden-sm">
                <button ng-disabled="disabled" ui-sref="index" class="btn btn-grey">Cancel</button>
                <button ng-disabled="disabled" type="submit" ng-click="submit()" class="btn btn-default submit">Submit</button>
                <div class="spinner" style="display: none;">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-4 col-xs-offset-1 col-xs-10">
            <h2>Billing Information</h2>
            <div class="form-group">
                <div class="controls form-inline">
                    <input type="text" ng-model="letter.address.name" class="form-control" id="name" placeholder="Name" ng-disabled="disabled" required />
                    <input type="email" ng-model="letter.emailAddress" class="form-control" id="email" placeholder="Email" ng-disabled="disabled" required/>
                </div>
            </div>
            <div class="form-group">
                <input type="text" ng-model="letter.address.company" class="form-control" id="company" placeholder="Company (Optional)" ng-disabled="disabled"/>
            </div>
            <div class="form-group">
                <div class="controls form-inline">
                    <input type="text" ng-model="letter.address.line1" class="form-control" id="line1" placeholder="Street & Number" ng-disabled="disabled" required/>
                    <input type="text" ng-model="letter.address.postalCode" style="width: 100px;" class="form-control" id="postalcode" placeholder="Postal Code" ng-disabled="disabled" required/>
                    <input type="text" ng-model="letter.address.city" class="form-control" id="city" placeholder="City" ng-disabled="disabled" required/>
                </div>
            </div>
            <div class="form-group">
                <input type="text" ng-model="letter.address.line2" class="form-control" id="name" placeholder="Address Line 2 (Optional)" ng-disabled="disabled"/>
            </div>
            <div class="form-group">
                <select ng-disabled="disabled" class="form-control" style="-webkit-appearance: none;" ng-model="letter.address.country" ng-options="country.countryIso as country.countryName for country in countries" required></select>
            </div>
            <div class="visible-xs visible-sm">
                <button ng-disabled="disabled" ui-sref="index" class="btn btn-grey">Cancel</button>
                <button ng-disabled="disabled" type="submit" ng-click="submit()" class="btn btn-default submit">Submit</button>
                <div class="spinner" style="display: none;">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row" style="background: #fff;text-align: center;margin-top: 40px;padding-top: 10px;padding-bottom: 25px;">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
        <h2 style="line-height: 38px;margin-bottom: 25px;">Want to Save Your Address and Credit Card Information?</h2>
        <a href="https://milsapp.com" target="_blank" class="btn btn-default">Download Mils for OS X / Windows 8 for Free</a>
    </div>
</div>