<div class="row">
  <div class="col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6" style="text-align: center;" ng-file-drop ng-model="files" multiple="false"
                   allow-dir="false" accept="application/pdf">
    <p><span class="btn btn-lg" ng-file-select accept="application/pdf" ng-model="files" style="width: 100%;" ng-href="#">Select File</span></p>
    <p id="or">or</p>
    <p id="dragdrop">Drag & Drop a File</p>
    <p class="error"><strong ng-bind="error"></strong></p>
    <div ng-no-file-drop>File Farg/Drop is not supported for this browser</div>
  </div>
</div>
