<div class="row">
  <div class="col-md-offset-4 col-md-4 col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6" style="text-align: center;" ng-file-drop ng-model="files" multiple="false"
                   allow-dir="false" accept="application/pdf">
    <p><span class="btn btn-lg" ng-file-select accept="application/pdf" ng-model="files" style="width: 100%;" ng-href="#">Select Pdf</span></p>
    <p id="or">or</p>
    <p id="dragdrop">Drag & Drop a Pdf</p>
    <p class="error"><strong ng-bind="error"></strong></p>
    <div ng-no-file-drop>File Farg/Drop is not supported for this browser</div>
    <p><a href="https://milsapp.com" target="_blank">Download Mils for OS X / Windows 8 for free</a> in order to enjoy additional features such as placing your signature on the Pdf, seeing a history of sent letters, and sending letters directly from Word / Pages.</p>
  </div>
</div>
